.gradeCard {
  animation-delay: inherit;
}

.gradeCard[data-delay="0"] {
  animation-delay: 0s;
}

.gradeCard[data-delay="1"] {
  animation-delay: 0.1s;
}

.gradeCard[data-delay="2"] {
  animation-delay: 0.2s;
}

.gradeCard[data-delay="3"] {
  animation-delay: 0.3s;
}

.gradeCard[data-delay="4"] {
  animation-delay: 0.4s;
}

.gradeCard[data-delay="5"] {
  animation-delay: 0.5s;
}

.gradeCard[data-delay="6"] {
  animation-delay: 0.6s;
}

.gradeCard[data-delay="7"] {
  animation-delay: 0.7s;
}

.gradeCard[data-delay="8"] {
  animation-delay: 0.8s;
}

.gradeCard[data-delay="9"] {
  animation-delay: 0.9s;
}
